---
Language:        Cpp
BasedOnStyle:  LLVM
PointerAlignment: Left
BreakBeforeBraces: Attach
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortFunctionsOnASingleLine: false
SortIncludes:    false
# ColumnLimit:     80
IndentWidth:     4
AccessModifierOffset: -4
TabWidth:        4
...
