*~
*.old
CMakeFiles
cmake_install.cmake
Makefile
CMakeCache.txt
binaries/
/pid
/pid.bat
pid
pid.bat
.clang_complete
.atom-dbg.cson
CMakeSettings.json
compile_commands.json
.ccls-cache
.vscode
/compile_commands.json
.cache/
.cache
